@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.headline {
  color: #fff;
  text-align: center;
  line-height: 1;
  
  > span:nth-child(1) {
    display: block;
    font-size: fn.fs(120px);
    margin-bottom: fn.fs(30px);
    text-shadow: 0px fn.fs(4px) fn.fs(4px) rgba(0, 0, 0, 0.25);
    @include mixin.font-maven(600);
  }
  > span:nth-child(2) {
    font-size: fn.fs(18px);
    font-weight: normal;
  }

  // modifier
  &.headline-left {
    text-align: left;
  }
  &.headline-primary {
    color: #214A4A;
  }

  @media screen and (max-width: cn.$bp-sm){
    > span:nth-child(1) {
      font-size: fn.fs(60px);
      margin-bottom: fn.vw(10px);
    }
    > span:nth-child(2) {
      font-size: fn.fs(20px);
    }

    &.headline-left {
      text-align: center;
    }
  }
}