// settings
@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.headline {
  color: #fff;
  text-align: center;
  line-height: 1;
  
  > span:nth-child(1) {
    display: block;
    font-size: fn.fs(120px);
    margin-bottom: fn.fs(30px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    @include mixin.font-maven(600);
  }
  > span:nth-child(2) {
    font-size: fn.fs(18px);
    font-weight: normal;
  }
  &.headline-left {
    text-align-last: left;
  }
  &.headline-primary {
    color: #214A4A;
  }
}