body {
  margin: 0;
}

.lp {
  display: block;
  margin: 0 auto;
  text-align: center;
  img {
    max-width: 393px;
    height: auto;
    width: 100%;
  }
}

.book {
  margin: 10px 0 0;
  padding: 0 15%;
}

.mb {
  margin-bottom: 40px;
}