<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&family=Oxygen+Mono&display=swap" rel="stylesheet" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/styles/siid-lp/main.scss">
    <script src="https://kit.fontawesome.com/c1405253c9.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
    <meta name="description" content="<%= disc %>">

    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= common.domain %>">
    <meta property="og:image" content="/images/ogp-siid.png">

    <!-- オプション -->
    <meta property="og:description" content="<%= disc %>">
    <meta property="og:site_name" content="<%= common.siteName %>">
    <meta property="og:locale" content="ja_JP">

    <!-- Twitterカード -->
    <meta name="twitter:card" content="summary_large_image"> <!-- 画像を大きく表示したい場合 -->
    <meta name="twitter:site" content="@seito_horiguchi"> <!-- サイトのTwitterアカウント -->
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= disc %>">
    <meta name="twitter:image" content="/images/ogp-siid.png">
    <meta name="twitter:image:alt" content="<%= title %>">

    <!-- A8 -->
    <script src="https://static.n-ine.com/embed.js"
    data-link="https://liff.line.me/2006287461-mwL4LrXp/follow/01JW54BCQV8W1QEZ393Z9G916W/"
    data-pid="s00000026893001"></script>
    <%- include('../modules/meta/_analytics.html') %>
</head>
<!-- 
    |ω・`）ﾁﾗ

    |ω・`）...

    |ω・`）< そんなに私のコードが気になるかね？ 

    |彡ｻｯ

-->