<% const head={ title: common.title.gifts, disc: common.disc.gifts, theme: "" }; const header={ contact: {
  href: "/contact/" , text: "CONTACT" } }; const hero={ title: "LINE Gifts" , sub: "LINEギフト" , modifier: ""
  }; const contact={ headline: "お問い合わせはこちら" , href: "/contact/" , text: "CONTACT" }; %> <%-
    include('../modules/meta/_head.html', head) %> <%- include('../modules/layout/_header.html', {header: header}) %>
      <%- include('../modules/components/_sub-hero.html', {hero: hero}) %>

        <main>
          <div class="container">
            <div class="gifts">
              <h1>LINE登録特典はこちらからダウンロードできます</h1>
              
              <a class="link link-line" href="https://drive.google.com/drive/folders/1GLuQKFcmqbmqeNtMPkv5e9TdJcDixZZJ" target="_blank">
                <span>ダウンロード</span>
              </a>
            </div>
          </div>

          <%- include('../modules/components/_contact.html', {contact: contact}) %>
        </main>

        <%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact" }) %>

          <script type="module" src="/assets/scripts/gifts-1.js"></script>
          <%- include('../modules/meta/_foot.html') %>