<% const head = { title: common.title.gifts, disc: common.disc.gifts, theme:
"" }; const header = { contact: { href: "/contact/", text: "CONTACT" } }; const hero = {
title: "LINE Gifts", sub: "LINEギフト", modifier: "sub-hero-long"
}; 

const contact = {
  headline: "お問い合わせはこちら",
  href: "/contact/",
  text: "CONTACT"
};

%> <%- include('../modules/meta/_head.html', head) %> <%-
include('../modules/layout/_header.html', {header: header}) %> <%-
include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <div class="container">
    <div class="gifts-single">
      <h1>180日でITエンジニアになる方法</h1>
      <p>〜時間・場所・お金の不安から解放され、<br>自由に働く7つのステップ〜</p>
    </div>
    <a class="link link-line" href="/gifts-1/book.pdf" download="180日でITエンジニアになる方法.pdf">
      <span>ダウンロード</span>
    </a>
  </div>

  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"})
%>

<script type="module" src="/assets/scripts/gifts-1.js"></script>
<%- include('../modules/meta/_foot.html') %>
