<% 
const head = {
  title: common.title.siid.career,
  disc: common.disc.siid.career,
  theme: "theme-siid"
};

const header = {
  contact: {
    href: "",
    text: "お申し込み"
  }
};

const hero = {
  title: "COURSES",
  sub: "SiiD CAREER",
  disc: "本気でエンジニア転職に取り組みたい方へ"
};

const features = {
  disc: `Web/ITエンジニアの転職には、プログラミングスキルだけでなく、エンジニアとしてのマインドやコミュニケーション能力も求められます。<br><br>
  Careerコースは<strong>「本気のエンジニア転職」</strong>をコンセプトに、技術としてのスキルはもちろん、そうしたソフトスキルをも含め、<strong>みなさんの総合力を鍛え上げる</strong>カリキュラムです。<br><br>
  またエンジニア・人事経験者が皆さんのコーチとなり、一人一人に寄り添った最適な学習計画とフィードバックを行います。`,
  contents: [
    {
      img: {
        url: "/assets/images/feature-1.png",
        width: "245",
        height: "200"
      },
      title: "目標とするゴール",
      disc: [
        "Web/ITエンジニア職に内定する",
        "オリジナルのアプリケーションを完成させる",
        "ITビジネスパーソンとして十分なコミュニケーションスキルを習得する"
      ]
    }, {
      img: {
        url: "/assets/images/feature-2.png",
        width: "245",
        height: "171"
      },
      title: "前提条件・スキル",
      disc: [
        "入門的なPC操作",
        "中学〜高校レベルの国語力と英語力"
      ]
    }, {
      img: {
        url: "/assets/images/feature-3.png",
        width: "245",
        height: "161"
      },
      title: "こんな人にオススメ",
      disc: [
        "気軽にプログラミングを始めてみたい",
        "ITスキルを仕事に活かしたい"
      ]
    }
  ]
};
const point = {
  headline: {
    main: "学習スタイル",
    isNormal: true,
    link: { 
      modifier: "",
      href: "/works",
      text: "もっと見る"
    }
  },
  cards: [
    {
      headline: "グループ授業",
      img: {
        url: "/assets/images/style-1.png",
        width: "249",
        height: "204"
      },
      disc: "「科学的に効果の高い学習メソッド」を用いた上で、プログラミングはもちろんアプリ開発やエンジニアの仕事に必要なスキル・マインドを包括的に学ぶことができます。"
    }, {
      headline: "事前学習",
      img: {
        url: "/assets/images/style-2.png",
        width: "255.5",
        height: "170.5"
      },
      disc: "100人規模のWeb開発企業で経営経験があり、テックYouTuberでもある現役エンジニアの堀口セイト氏が皆さんをサポートします。"
    }, {
      headline: "もくもく会",
      img: {
        url: "/assets/images/style-3.png",
        width: "297.5",
        height: "200"
      },
      disc: "多くのスクールが数ヶ月・数十万円のコースを展開する一方、月3万円からお手軽に学習することができます。"
    }, {
      headline: "チャット相談",
      img: {
        url: "/assets/images/style-4.png",
        width: "247.5",
        height: "182.5"
      },
      disc: "多くのスクールが数ヶ月・数十万円のコースを展開する一方、月3万円からお手軽に学習することができます。"
    }, {
      headline: "1on1",
      img: {
        url: "/assets/images/style-5.png",
        width: "227.5",
        height: "190"
      },
      disc: "多くのスクールが数ヶ月・数十万円のコースを展開する一方、月3万円からお手軽に学習することができます。"
    }
  ]
};

const curriculum = {
  headline: "カリキュラム",
  contents: [
    ["オリエンテーション", "アプリケーション開発概論", "HTML/CSS", "IDE, Git, ほか"],
    ["JavaScript", "中間復習", "アルゴリズム", "オブジェクト指向とクラス"],
    ["データベース", "総復習"],
    // ["JKL", "MNO", "PQR", "PQR"],
    // ["STU", "VWX", "YZ", "YZ"]
  ]
};

const skills = [
  {
    modifier: "emblem-a",
    cat: "regular",
    icon: "lightbulb",
    name: "学習方法"
  },  {
    modifier: "emblem-b",
    cat: "solid",
    icon: "users-between-lines",
    name: "グループワーク"
  }, {
    modifier: "emblem-c",
    cat: "solid",
    icon: "computer",
    name: "CS基礎"
  }, {
    modifier: "emblem-d",
    cat: "solid",
    icon: "database",
    name: "データベース"
  }, {
    modifier: "emblem-e",
    cat: "solid",
    icon: "diagram-project",
    name: "アルゴリズム"
  }, {
    modifier: "emblem-a",
    cat: "regular",
    icon: "object-group",
    name: "OOP"
  }, {
    modifier: "emblem-b",
    cat: "brands",
    icon: "html5",
    name: "HTML"
  }, {
    modifier: "emblem-c",
    cat: "brands",
    icon: "css3-alt",
    name: "CSS"
  }, {
    modifier: "emblem-d",
    cat: "brands",
    icon: "js",
    name: "JavaScript"
  }, {
    modifier: "emblem-e",
    cat: "solid",
    icon: "robot",
    name: "ChatGPT"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "github",
    name: "Git/GitHub"
  }, {
    modifier: "emblem-b",
    cat: "brands",
    icon: "node",
    name: "Node.js/npm",
    option: true
  }, {
    modifier: "emblem-c",
    cat: "brands",
    icon: "google",
    name: "Firebase",
    option: true
  }
];

const contact = {
  headline: "お申し込みはこちら",
  href: "",
  text: "説明会に申し込む"
};
%>


<%- include('./modules/meta/_head.html', head) %>

<%- include('./modules/layout/_header.html', {header: header}) %>

<%- include('./modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <%- include('./modules/components/_features.html', {features: features}) %>
  <%- include('./modules/components/_point.html', {point: point}) %>
  <%- include('./modules/components/_curriculum.html', {curriculum: curriculum}) %>
  <div class="u-mb-240">
    <%- include('./modules/components/_profile.html') %>
  </div>
  <div class="u-mb-240">
    <%- include('./modules/components/_shelf.html', {skills: skills}) %>
  </div>
  <%- include('./modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('./modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<script type="module" src="/assets/scripts/siid.js"></script>
<%- include('./modules/meta/_foot.html') %>