<% const head = { title: common.title.siid.index, disc: common.disc.siid.index,
}; %> <%- include('../modules/meta/siid-lp/_head.html', head) %>
<main class="lp">

  <%- include('../modules/components/lp/_hero-builder.html') %>
  <%- include('../modules/components/lp/_benefits-section.html') %>
  <%- include('../modules/components/lp/_button-area.html') %>
  <%- include('../modules/components/lp/_other-benefits-section.html') %>
  <%- include('../modules/components/lp/_programming-job-section.html') %>


  <%- include('../modules/components/lp/_features-section.html') %>
  <%- include('../modules/components/lp/_testimonial-section.html') %>

  <%- include('../modules/components/lp/_faq.html') %>
</div>
  <%- include('../modules/components/lp/_line-cta-button.html') %>
</main>
