<% const head = { title: common.title.gifts, disc: common.disc.gifts, theme:
"" }; const header = { contact: { href: "/contact/", text: "CONTACT" } }; const hero = {
title: "LINE Gifts", sub: "LINEギフト", modifier: "sub-hero-long"
}; 

const contact = {
  headline: "お問い合わせはこちら",
  href: "/contact/",
  text: "CONTACT"
};

%> <%- include('../modules/meta/_head.html', head) %> <%-
include('../modules/layout/_header.html', {header: header}) %> <%-
include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <div class="container">
    <ul class="gifts">
      <li class="gifts-item"><a href="/gifts1/プログラミング学習向けPCの選び方.pdf" download>プログラミング学習向けPCの選び方.pdf</a></li>
      <li class="gifts-item"><a href="/gifts1/プログラミング効率を爆上げする厳選ショートカットキー42選.pdf" download>プログラミング効率を爆上げする厳選ショートカットキー42選.pdf</a></li>
      <li class="gifts-item"><a href="/gifts1/おすすめのプログラミング言語22選.pdf" download>おすすめのプログラミング言語22選.pdf</a></li>
      <li class="gifts-item"><a href="/gifts1/おみくじアプリの作り方教材.pdf" download>おみくじアプリの作り方教材.pdf</a></li>
      <li class="gifts-item"><a href="/gifts1/エンジニア転職専用の履歴書の雛形.docx" download>エンジニア転職専用の履歴書の雛形.docx</a></li>
      <li class="gifts-item"><a href="/gifts1/エンジニア転職専用の職務経歴書の雛形.docx" download>エンジニア転職専用の職務経歴書の雛形.docx</a></li>
      <li class="gifts-item"><a href="/gifts1/未経験者向けおすすめ就活サイト.pdf" download>未経験者向けおすすめ就活サイト.pdf</a></li>
    </ul>

    <a class="link link-line" href="/gifts1.zip" download>
      <span>まとめてZIPでダウンロード</span>
    </a>
  </div>

  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"})
%>

<script type="module" src="/assets/scripts/gifts.js"></script>
<%- include('../modules/meta/_foot.html') %>
