<% 
const head = {
  title: common.title.siid.index,
  disc: common.disc.siid.index,
  theme: "theme-siid"
};

const header = {
  contact: {
    href: "/siid/counseling/",
    text: "お申し込み"
  }
};

const hero = {
  title: "TUITION",
  sub: "費用・コース比較",
  disc: "あなたに最適なコースをご提案します"
};

const contact = {
  headline: "お申し込みはこちら",
  href: "/siid/counseling/",
  text: "お申し込み・個別相談会へ"
};

%>

<%- include('../modules/meta/_head.html', head) %>
<%- include('../modules/layout/_header.html', {header: header}) %>

<%- include('../modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  
  <div class="counseling-lead">
    <p>
      <strong>すでにお申し込みを決めてる、迷っている、</strong>どちらの場合でもお気軽にお申込ください。
    </p>
    <p>
      講師の堀口が直接お話をお伺いし、<br class="counseling-lead-spbr">プログラミング学習やキャリア相談について<br class="counseling-lead-spbr">ご相談にのります。<br>
    </p>
  </div>

  <section class="tuition">
    <h1 class="tuition-header">
      <span>Basicコース</span>
      <span>Careerコース</span>
    </h1>
    <dl class="tuition-inner">

      <!-- goal -->
      <dt>目標とするゴール</dt>
      <dd>
        <ul>
          <li>簡単なWebサイトやプログラムが作成できる</li>
          <li>初級レベルのプログラミング問題が解ける</li>
          <li>仕事で技術的なコミュニケーションがとれる</li>
        </ul>
      </dd>
      <dd>
        <ul>
          <li>Web/ITエンジニア職に内定する</li>
          <li>中級レベルのプログラミング問題が解ける</li>
          <li>ITビジネスパーソンとして十分なコミュニケーションスキルを習得する</li>
        </ul>
      </dd>

      <!-- person -->
      <dt>こんな人にオススメ</dt>
      <dd>
        <ul>
          <li>気軽にプログラミングを始めてみたい</li>
          <li>IT/DXスキルを現在の仕事に活かしたい</li>
          <li>一緒に学べるメンターや仲間がほしい</li>
        </ul>
      </dd>
      <dd>
        <ul>
          <li>Web/ITエンジニア職、またはそれに準ずる職種にキャリアチェンジしたい</li>
          <li>一緒に学べるメンターや仲間がほしい</li>
        </ul>
      </dd>

      <!-- 学習スタイル -->
      <dt>学習スタイル</dt>
      <dd>
        <ul>
          <li>
            <strong>スケジュール管理</strong>
            <p>カジュアル</p>
          </li>
          <li>
            <strong>課題の内容</strong>
            <ul>
              <li>ペーパーテスト</li>
              <li>コーディング演習</li>
              <li>グループワーク</li>
            </ul>
          </li>
        </ul>
      </dd>
      <dd>
        <ul>
          <li>
            <strong>スケジュール管理</strong>
            <p>ストイック</p>
          </li>
          <li>
            <strong>課題の内容</strong>
            <ul>
              <li>ペーパーテスト</li>
              <li>コーディング演習</li>
              <li>グループワーク</li>
              <li>アプリケーション開発・企画</li>
              <li>その他コミュニケーション力やプレゼンテーション力を強化する内容</li>
            </ul>
          </li>
        </ul>
      </dd>

      <!-- サポート範囲 -->
      <dt>学習範囲</dt>
      <dd>
        <ul>
          <li>
            <strong>ハードスキル</strong>
            <ul>
              <li>コンピューターサイエンス基礎</li>
              <li>HTML, CSS, JavaScript/ES6, SQL</li>
              <li>Git, ChatGPT, CLI, DevTool</li>
              <li>(Option) Node.js, Firebase</li>
            </ul>
          </li>
          <li>
            <strong>ソフトスキル</strong>
            <ul>
              <li>学習方法・課題解決力</li>
            </ul>
          </li>
        </ul>
      </dd>
      <dd>
        <ul>
          <li>
            <strong>ハードスキル</strong>
            <ul>
              <li>コンピューターサイエンス基礎</li>
              <li>HTML, CSS, JavaScript/ES6, Node.js, PHP/Laravel, MySQL</li>
              <li>Git, ChatGPT, CLI, DevTool, Figma, Figjam</li>
              <li>(Option) Docker, TypeScript, React, Python</li>
            </ul>
          </li>
          <li>
            <strong>ソフトスキル</strong>
            <ul>
              <li>学習方法・課題解決力</li>
              <li>ビジネスコミュニケーション力</li>
              <li>企画・プレゼンテーション力</li>
            </ul>
          </li>
          <li>
            <strong>転職支援</strong>
            <ul>
              <li>ポートフォリオのアプリケーション開発</li>
              <li>履歴書・職務経歴書の添削</li>
              <li>模擬面接</li>
              <li>(Option) 求人や案件のご案内</li>
            </ul>
          </li>
        </ul>
      </dd>

      <!-- 実施内容 -->
      <dt>実施内容</dt>
      <dd>
        <ul>
          <li>1on1: 月次</li>
          <li>個別コンサル: 初回のみ</li>
          <li>グループワーク: 適時</li>
          <li>チャット: 24h質問・相談OK</li>
        </ul>
      </dd>
      <dd>
        <ul>
          <li>1on1: 週次</li>
          <li>個別コンサル: 初回 + 適時</li>
          <li>グループワーク: 適時</li>
          <li>チャット: 24h質問・相談OK</li>
        </ul>
      </dd>

      <!-- 期間-->
      <dt>学習期間</dt>
      <dd>
        最短3ヶ月 〜 最長6ヶ月<br>
        (目安: 約250 〜 300時間程度)
      </dd>
      <dd>
        最短8ヶ月 〜 最長18ヶ月<br>
        (目安: 約850 〜 1,050時間程度)
      </dd>

      <!-- tuition -->
      <dt>
        受講料
        <span>
          ※銀行振込 or クレジットカード支払い可<br>
          ※クレジットカード支払いの場合は手数料分が上乗せされます</span>
      </dt>
      <dd>
        <dl class="price">
          <dt>3ヶ月プラン</dt>
          <dd>
            分割月々<em>24,085</em>円（税込）〜 ✕ 4回
          </dd>
          <dd>
            一括料金<em>92,500</em>円（税込）
          </dd>
        </dl>
        <dl class="price">
          <dt>6ヶ月プラン</dt>
          <dd>
            分割月々<em>19,072</em>円（税込）〜 ✕ 8回
          </dd>
          <dd>
            一括料金<em>146,500</em>円（税込）
          </dd>
        </dl>
      </dd>
      <dd>
        <dl class="price">
          <dt>8ヶ月プラン</dt>
          <dd>
            分割月々<em>28,338</em>円（税込）〜 （12回の場合）
          </dd>
          <dd>
            一括料金<em>340,056</em>円（税込）
          </dd>
        </dl>
        <dl class="price">
          <dt>12ヶ月プラン</dt>
          <dd>
            分割月々<em>30,416</em>円（税込）〜 （16回の場合）
          </dd>
          <dd>
            一括料金<em>467,260</em>円（税込）
          </dd>
        </dl>
        <dl class="price">
          <dt>18ヶ月プラン</dt>
          <dd>
            分割月々<em>31,245</em>円（税込）〜 （20回の場合）
          </dd>
          <dd>
            一括料金<em>600,000</em>円（税込）
          </dd>
        </dl>
      </dd>
    </dl>
  </section>

  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<%- include('../modules/meta/_foot.html') %>