<footer class="footer <%= modifier %>">
    <div class="footer-top">
        <div class="footer-top-info">
            <a class="footer-top-logo" href="./">
                <%- include('../modules/components/_logo.html') %>
            </a>
            <address>
                運営：合同会社BugFix<br>
                156-0045<br>
                東京都世田谷区桜上水４丁目９−１１ wdsビル303
            </address>
        </div>
        <div class="footer-top-nav">
            <a href="/">ホーム</a>
            <a href="/siid/">プログラミング・ゼミ SiiD</a>
            <a class="u-disable">キャリア支援・EEE転職</a>
            <a href="https://note.com/seito_horiguchi" target="_blank">ブログ</a>
            <a href="https://www.youtube.com/channel/UC8IWoNfegB72Q2nT9GJy2zQ" target="_blank">YouTube</a>
        </div>
        <div class="footer-top-others">
            <div class="footer-top-sns">
                <a href="https://twitter.com/seito_horiguchi" target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC8IWoNfegB72Q2nT9GJy2zQ" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.tiktok.com/@seito2020" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
            <%- include("../modules/components/_link.html", {
                modifier: "link-footer u-disable",
                href: "",
                text: "EEE転職はこちら"
                }) %>
        </div>
    </div>
    
    <hr class="footer-border">

    <div class="footer-bottom">
        <small class="footer-bottom-credit">©BugFix LLC.</small>
        <div class="footer-bottom-nav">
            <a href="/privacy-policy/">プライバシーポリシー</a>
            <a href="/law/">特定商取引法に基づく表示</a>
        </div>
    </div>
</footer>