<header class="header">
  <div class="header-inner">
    <div class="header-flex">
      <a class="header-logo" href="./">
        <img
        src="./assets/images/logo.png"
        width="99"
        height="60"
        alt="プログラミング・ゼミ SiiD ロゴ画像"
      />
      </a>
      <nav class="nav">
        <div class="nav-container">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="./">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">BLOGS</a>
            </li>
          </ul>
          <div class="nav-contact">
            <%- include("./modules/components/_link.html", {
              modifier: "link-nav",
              href: "",
              text: "お申し込み"
            }) %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
