<header class="header">
  <div class="header-inner">
    <div class="header-flex">
      <a class="header-logo" href="./">
        <%- include('../modules/components/_logo.html') %>
      </a>
      <button type="button" class="trigger" id="js-nav-trigger">
        <span></span>
      </button>
      <nav class="nav" id="js-nav">
        <div class="nav-container">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="./">HOME</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link u-disable" href="./service">SERVICES</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/channel/UC8IWoNfegB72Q2nT9GJy2zQ" target="_blank">YouTube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://note.com/seito_horiguchi" target="_blank">BLOGS</a>
            </li>
          </ul>
          <div class="nav-contact">
            <%- include("../modules/components/_link.html", {
              modifier: "link-nav",
              href: header.contact.href,
              text: header.contact.text
            }) %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
