<header class="header">
  <div class="header-inner">
    <div class="header-flex">
      <a href="./">
        <img
        src="./assets/images/logo.png"
        width="50"
        height="30"
        alt="プログラミング・ゼミ SiiD ロゴ画像"
      />
      </a>
      <div class="nav">
        <nav class="nav-inner">
          <ul class="nav-main">
            <li><a href="./">HOME</a></li>
            <li><a href="./about">COURSES</a></li>
            <li><a href="./contact">BLOGS</a></li>
          </ul>
          <div class="nav-contact">
            <a class="button button-primary" href="">
              <span>お申し込み</span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
