<% 

const header = {
  contact: {
    href: "",
    text: "お申し込み"
  }
};

const hero = {
  title: "COURSES",
  sub: "SiiD BASIC",
  disc: "ますはプログラミングを楽しみたい方へ"
};

const features = {
  disc: `Basicコースでは<strong>「プログラミングを当たり前に」</strong>をコンセプトに、技術と効率的な学習方法を学びます。<br>
  エンジニアに必要な基礎技術のほか、どのように学習すべきかといったノウハウも合わせて習得することで、みなさんのプログラミング習得速度を加速させます。`,
  contents: [
    {
      img: "/assets/images/feature-1.png",
      title: "目標とするゴール",
      disc: `・簡単なWebサイトが作成できる<br>
      ・初級レベルのプログラミング問題が解ける<br>
      ・仕事で技術的なコミュニケーションがとれる`
    }, {
      img: "/assets/images/feature-2.png",
      title: "前提条件・スキル",
      disc: `・入門的なPC操作<br>
      ・中学〜高校レベルの国語力と英語力`
    }, {
      img: "/assets/images/feature-1.png",
      title: "こんな人にオススメ",
      disc: `・気軽にプログラミングを始めてみたい<br>
      ・ITスキルを仕事に活かしたい`
    }
  ]
};
const point = {
  headline: {
    main: "学習スタイル",
    isNormal: true,
    link: { 
      modifier: "",
      href: "/works",
      text: "もっと見る"
    }
  },
  cards: [
    {
      headline: "ゼミ形式の学習カリキュラム",
      img: "/assets/images/point-1.png",
      disc: "「科学的に効果の高い学習メソッド」を用いた上で、プログラミングはもちろんアプリ開発やエンジニアの仕事に必要なスキル・マインドを包括的に学ぶことができます。"
    }, {
      headline: "強力な監修・講師陣",
      img: "/assets/images/point-2.png",
      disc: "100人規模のWeb開発企業で経営経験があり、テックYouTuberでもある現役エンジニアの堀口セイト氏が皆さんをサポートします。"
    }, {
      headline: "圧倒的コストパフォーマンス",
      img: "/assets/images/point-3.png",
      disc: "多くのスクールが数ヶ月・数十万円のコースを展開する一方、月3万円からお手軽に学習することができます。"
    }
  ]
};

const curriculum = {
  headline: "カリキュラム",
  contents: [
    ["オリエンテーション", "アプリケーション開発概論", "HTML/CSS", "IDE, Git, ほか"],
    ["JavaScript", "中間復習", "アルゴリズム", "オブジェクト指向とクラス"],
    ["データベース", "総復習"],
    // ["JKL", "MNO", "PQR", "PQR"],
    // ["STU", "VWX", "YZ", "YZ"]
  ]
};

const skills = [
  {
    modifier: "emblem-a",
    cat: "regular",
    icon: "lightbulb",
    name: "学習方法"
  },  {
    modifier: "emblem-a",
    cat: "solid",
    icon: "users-between-lines",
    name: "グループワーク"
  }, {
    modifier: "emblem-a",
    cat: "solid",
    icon: "computer",
    name: "CS基礎"
  }, {
    modifier: "emblem-a",
    cat: "solid",
    icon: "database",
    name: "データベース"
  }, {
    modifier: "emblem-a",
    cat: "solid",
    icon: "diagram-project",
    name: "アルゴリズム"
  }, {
    modifier: "emblem-a",
    cat: "regular",
    icon: "object-group",
    name: "OOP"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "html5",
    name: "HTML"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "css3-alt",
    name: "CSS"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "js",
    name: "JavaScript"
  }, {
    modifier: "emblem-a",
    cat: "solid",
    icon: "robot",
    name: "ChatGPT"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "github",
    name: "Git/GitHub"
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "node",
    name: "Node.js/npm",
    option: true
  }, {
    modifier: "emblem-a",
    cat: "brands",
    icon: "google",
    name: "Firebase",
    option: true
  }
];

const contact = {
  headline: "お申し込みはこちら",
  href: "",
  text: "説明会に申し込む"
};
%>

<%- include('./modules/meta/_head.html', {
  title: `${common.title} - 真に価値あるエンジニアリングとプログラミングスクール`,
  theme: "theme-siid"
}) %>
<%- include('./modules/layout/_header.html', {header: header}) %>

<%- include('./modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <%- include('./modules/components/_features.html', {features: features}) %>
  <%- include('./modules/components/_point.html', {point: point}) %>
  <%- include('./modules/components/_curriculum.html', {curriculum: curriculum}) %>
  <div class="u-mb-240">
    <%- include('./modules/components/_profile.html') %>
  </div>
  <%- include('./modules/components/_shelf.html', {skills: skills}) %>
  <%- include('./modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('./modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<script type="module" src="/assets/scripts/siid.js"></script>
<%- include('./modules/meta/_foot.html') %>