<% 

const header = {
  contact: {
    href: "",
    text: "お申し込み"
  }
};

const hero = {
  title: "COURSES",
  sub: "SiiD BASIC",
  disc: "ますはプログラミングを楽しみたい方へ"
};

const features = {
  disc: `Basicコースでは<strong>「プログラミングを当たり前に」</strong>をコンセプトに、技術と効率的な学習方法を学びます。<br>
  エンジニアに必要な基礎技術のほか、どのように学習すべきかといったノウハウも合わせて習得することで、みなさんのプログラミング習得速度を加速させます。`,
  contents: [
    {
      img: "/assets/images/feature-1.png",
      title: "目標とするゴール",
      disc: `テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト`
    }, {
      img: "/assets/images/feature-2.png",
      title: "前提条件・スキル",
      disc: `テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト`
    }, {
      img: "/assets/images/feature-1.png",
      title: "こんな人にオススメ",
      disc: `テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト`
    }
  ]
};

const curriculum = {
  headline: "カリキュラム",
  contents: [
    ["ABC", "DEF", "GHI", "GHI"],
    ["JKL", "MNO", "PQR", "PQR"],
    ["STU", "VWX", "YZ", "YZ"]
  ]
};

const skills = [
{
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, {
    icon: "lightbulb",
    modifier: "emblem-a",
    name: "アルゴリズム"
  }, 
]

const contact = {
  headline: "お申し込みはこちら",
  href: "",
  text: "説明会に申し込む"
};
%>

<%- include('./modules/meta/_head.html', {
  title: `${common.title} - 真に価値あるエンジニアリングとプログラミングスクール`,
  theme: "theme-siid"
}) %>
<%- include('./modules/layout/_header.html', {header: header}) %>

<%- include('./modules/components/_sub-hero.html', {hero: hero}) %>

<main>
  <%- include('./modules/components/_features.html', {features: features}) %>
  <%- include('./modules/components/_curriculum.html', {curriculum: curriculum}) %>
  <%- include('./modules/components/_shelf.html', {skills: skills}) %>
  <%- include('./modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('./modules/components/_emblem.html', {
  icon: "lightbulb",
  modifier: "emblem-a",
  name: "アルゴリズム"
}) %>

<%- include('./modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<script type="module" src="/assets/scripts/index.js"></script>
<%- include('./modules/meta/_foot.html') %>