<div class="line-cta-button-container">
    <a href="#" class="line-cta-button" aria-label="Register on SiiD Official LINE">
        <img
            src="/images/siid-lp/line-cta-button.png"
            alt="SiiD公式LINEを登録 今なら登録すると豪華特典7つをプレゼント！"
        />
    </div>
    </a>
</div>

<style>
    .line-cta-button-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        text-align: center;
        max-width: 600px;
    }
  .line-cta-button {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: .5em;
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
</style>
