<section class="skills-section">
        <%- include('_headline-label.html', { headline: "SiiDの学習範囲" }) %>

        <div class="skills-container">
            <img src="/images/siid-lp/skills.png" alt="SiiDの学習範囲">
        </div>
    </section>

    <style>
        .skills-section {
            background-color: #efefef;
            padding: 40px 0;
            width: 100%;
        }

        .skills-container {
            position: relative;
            width: 100%;
            max-width: 450px; /* Max width for carousel content */
            margin: 0 auto;
        }
</style>