// settings
@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.gifts {
  
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  > a {
    margin: 30px 0;
  }

  .gifts-list {
    border-top: 1px solid var(--color-core);
    margin-bottom: 30px;

    > dt {
      font-weight: bold;
      padding-top: 10px;
    }

    > dd {
      margin: 0;
      list-style: none;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-core);
    }
  }

  p {
    font-size: 15px;
    margin: 0;
  }

  br {
    display: none;

    @media screen and (max-width: cn.$bp-sm) {
      display: block;
    }
  }
}