@use "../const" as cn;
@use "../function" as fn;
@use "../mixins" as mixin;

.voice {
  color: var(--color-main);
  background: #fff;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.15);
  border-radius: fn.vw(8px);
  padding: fn.vw(16px);
  height: 100%;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: var(--color-sub);
  }
  // .voice-inner {}
  .voice-img {
    width: 100%;
    aspect-ratio: 352 / 240;
    // background: #eee;
    border-radius: fn.vw(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    > img {
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
      transition: transform .25s;
    }
  }
  .voice-data {
    text-align: left;
  }
  .voice-course {
    font-size: fn.fs(12px);
    letter-spacing: .15em;
    margin: fn.vw(22px) 0 0;
  }
  .voice-result {
    font-weight: bold;
  }
  
  @media screen and (max-width: cn.$bp-sm){
    border-radius: fn.vw(16px);
    padding:  fn.vw(40px);
    
    .voice-result {
      letter-spacing: .15em;
      margin-bottom: fn.vw(44px);
    }
  }
}