<div class="hero js-scroll-animation">
  <div class="hero-inner">
    <h1 class="hero-headline">
      <%- hero.copy %>
    </h1>
  </div>
  <div class="hero-images">
    <ul class="hero-images-list">
      <% for( let index = 0; index < hero.images.length; index++ ) {
        const item = hero.images[index];
        const imgSrc = typeof item === "string" ? item : item.src;
        const imgAlt = typeof item === "string" ? "" : item.alt;
      %>
        <li class="hero-images-item">
          <img src="/images/hero/<%= imgSrc %>" alt="<%= imgAlt %>">
        </li>
      <% } %>
    </ul>
  </div>
  <div class="hero-animation" id="js-hero-animation">
    <%- include('../modules/components/_animation.html') %>
  </div>
</div>