<div class="modal" id="js-modal">
  <aside class="modal-inner">
    <button class="modal-close js-modal-close-trigger" type="button"></button>
    <div class="modal-contents">
      <img class="modal-img" src="https://dummyimage.com/956x556/000/fff" alt="">
      <dl class="modal-data">
        <dt>SiiD Webサイト</dt>
        <dd>制作者： monpyさん (Basic)</dd>
        <dd>エビフライの主人公をタップで動かす横スクールアクションゲーム。Apple Store, Google Play Storeで遊べます。エビフライの主人公をタップで動かす横スクールアクションゲーム。Apple Store, Google Play Storeで遊べます。エビフライの主人公をタップで動かす横スクールアクションゲーム。Apple Store, Google Play Storeで遊べます。エビフライの主人公をタップで動かす横スクールアクションゲーム。Apple Store, Google Play Storeで遊べます。エビフライの主人公をタップで動かす横スクールアクションゲーム。Apple Store, Google Play Storeで遊べます。</dd>
      </dl>
    </div>
  </aside>
  <div class="modal-back js-modal-close-trigger"></div>
</div>