<% if(type === "voices"){ %>
<div class="modal modal-voice" id="js-modal-voice">
  <aside class="modal-inner">
    <button class="modal-close js-modal-close-trigger" type="button"></button>
    
    <div class="modal-contents">
      <div class="modal-contents-inner">
        <div class="modal-img">
          <img name="voiceImg" src="/images/dummy.png" width="724" height="420" alt="">
        </div>
        <dl class="modal-data">
          <dt name="voiceResult"></dt>
          <dd>
            <b>名前： </b><span name="voiceName"></span>
            <br>
            <b>年齢： </b><span name="voiceAge"></span>
            <br>
            <b>職業： </b><span name="voiceJob"></span>
            <br>
            <b>コース： </b><span name="voiceCourse"></span>
          </dd>
          <dd>
            <b>受講した感想： </b><span name="voiceThought"></span>
          </dd>
          <dd>
            <b>SiiDコメント： </b><span name="voiceFeedback"></span>
          </dd>
        </dl>
      </div>
    </div>
  </aside>
  <div class="modal-back js-modal-close-trigger"></div>
</div>
<% } else { %>
<div class="modal" id="js-modal">
  <aside class="modal-inner">
    <button class="modal-close js-modal-close-trigger" type="button"></button>
    
    <div class="modal-contents">
      <div class="modal-contents-inner">
        <div class="modal-img">
          <img name="workImg" src="/images/dummy.png" width="724" height="420" alt="">
        </div>
        <dl class="modal-data">
          <dt name="workHeadline"></dt>
          <dd>
            <b>制作者： </b><span name="workAuthor"></span>
            (<span name="workCourse"></span>)
            <br>
            <b>使用技術： </b><span name="workTech"></span>
          </dd>
          <dd name="workDesc"></dd>
        </dl>
      </div>
    </div>
  </aside>
  <div class="modal-back js-modal-close-trigger"></div>
</div>
<% } %>