<article class="voice js-modal-voice-trigger">
  <div class="voice-inner">
    <div class="voice-img">
      <img src="<%= img %>" alt="<%= name %>のイメージ">
    </div>
    <dl class="voice-data">
      <dt class="voice-course">＜<%= course %>コース＞</dt>
      <dd class="voice-result"><%= result %></dd>
      <dd><%= name %>／<%= age %></dd>
    </dl>
  </div>

  <input name="voiceImg" type="hidden" value="<%= img %>">
  <input name="voiceResult" type="hidden" value="<%= result %>">
  <input name="voiceName" type="hidden" value="<%= name %>">
  <input name="voiceAge" type="hidden" value="<%= age %>">
  <input name="voiceJob" type="hidden" value="<%= job %>">
  <input name="voiceCourse" type="hidden" value="<%= course %>">
  <input name="voiceThought" type="hidden" value="<%= hiddenData.thoughts %>">
  <input name="voiceFeedback" type="hidden" value="<%= hiddenData.feedback %>">
</article>