@use "const" as cn;
@use "function" as fn;

// html { font-size: 62.5%; }

body {
  margin: 0;
  line-height: 1.6;
  font-size: fn.fs(14px);
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", "Meiryo", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  background: cn.$color-base;
  letter-spacing: .05em;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl, dt, dd {
  margin: 0;
}

strong, em, b {
  font-weight: 600;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}