@use "const" as cn;
@use "function" as fn;

:root {
  --color-main: #333;
  --color-sub: #896ed9;
  --color-sub-dark: #7d64c6;
  --color-core: #333;
  --color-accent: #896ed9;
  --color-accent-dark: #7d64c6;
  --color-base: #F4F4F4;
}

body {
  margin: 0;
  line-height: 1.6;
  font-size: fn.fs(14px);
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", "Meiryo", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  background: var(--color-base);
  letter-spacing: .05em;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl, dt, dd, figure, figcaption {
  margin: 0;
}

strong, em, b {
  font-weight: 600;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}






.sub-hero {
  padding: fn.vw(280px) 0 fn.vw(80px);
  .sub-hero-title {
    color: var(--color-main);
    text-align: center;
    > span {
      display: block;
      &:nth-child(1){
        font-size: fn.fs(20px);
      }
      &:nth-child(2){
        font-size: fn.fs(80px);
      }
      &:nth-child(3){
        font-size: fn.fs(18px);
      }
    }
  }
}


.features {
  padding: fn.vw(80px) fn.vw(160px);
  border-radius: fn.vw(20px);
  margin: 0 fn.vw(16px);
  color: #fff;
  background: var(--color-core);
  position: relative;
  overflow: hidden;

  .features-container {
    > p {
      font-size: fn.vw(24px);
      line-height: 1.5;
      letter-spacing: .25em;
      margin-top: 0;
      margin-bottom: fn.vw(80px);
    }
    strong {
      color: var(--color-strong);
    }
  }

  .features-list {
    > li {
      margin-bottom: fn.vw(24px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(60px);
    padding-left: fn.vw(60px);

    .features-container {
      margin: fn.vw(100px) 0;
      > p {
        font-size: fn.fs(14px);
        margin-bottom: fn.vw(50px);
      }
    }
  }
}


.block {
  display: flex;
  align-items: center;
  background: #333B48;
  padding: fn.vw(24px);
  border-radius: fn.vw(8px);
  .block-img {
    width: 22.5%;
    height: auto;
  }
  .block-contents {
    padding-left: fn.vw(44px);
    dt {
      font-size: fn.fs(24px);
      color: var(--color-strong);
      font-weight: bold;
      margin-bottom: fn.vw(16px);
    }
    dd {
      font-size: fn.fs(16px);
    }
  }
}






.curriculum {
  padding: fn.vw(140px) 0 fn.vw(120px);
  overflow: hidden;
  .curriculum-header {
    display: flex;
    padding: 0 fn.vw(120px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: fn.vw(75px);
    > h1 {
      font-weight: bold;
      font-size: fn.fs(48px);
      color: var(--color-main);
      letter-spacing: .05em;
    }
  }
  .curriculum-contents {
    white-space: nowrap;
    overflow: hidden;
  }
  .curriculum-list {
    overflow: scroll;
    padding-bottom: fn.vw(85px);
    scrollbar-color: var(--color-sub) #333;
    scrollbar-width: thin;
    padding-right: fn.vw(120px);
    > li {
      white-space: wrap;
      display: inline-block;
      width: fn.vw(772px);
      margin-right: fn.vw(16px);
      &:first-child {
        width: fn.vw(120px);
        visibility: hidden;
        margin: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .curriculum-bar-list {
    > li {
      margin-bottom: fn.vw(16px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: cn.$bp-sm){
    padding-right: 0;
    padding-left: 0;
    padding-bottom: fn.vw(240px);
    position: relative;
    margin-bottom: fn.vw(140px);
    .curriculum-header {
      display: block;
      padding: 0 fn.vw(80px);
      text-align: center;
      margin-bottom: fn.vw(75px);
      > h1 {
        font-size: fn.fs(24px);
      }
    }
    .curriculum-contents {
      padding-left: fn.vw(80px);
    }
    .curriculum-list {
      padding-right: fn.vw(80px);
      padding-bottom: fn.vw(85px);
      > li {
        width: 80%;
        margin-right: fn.vw(40px);
        &:first-child {
          display: none;
          width: fn.vw(180px);
          height: 100%;
          margin-right: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}




.bar {
  display: flex;
  align-items: center;
  border-radius: fn.vw(8px);
  overflow: hidden;
  font-weight: bold;
  font-size: fn.fs(20px);
  > dt {
    width: 26%;
    text-align: center;
    color: #fff;
    background: var(--color-sub);
    padding: fn.vw(16px) 0;
  }
  > dd {
    width: 74%;
    background: #fff;
    color: var(--color-main);
    padding: fn.vw(16px) fn.vw(24px);
  }

  @media screen and (max-width: cn.$bp-sm){
    border-radius: fn.vw(16px);
    > dt, > dd {
      font-size: fn.fs(12px);
    }
  }
}

.emblem {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  background: #333B48;
  padding: fn.vw(24px);
  border-radius: fn.vw(8px);
  .emblem-inner {
    width: fn.vw(140px);
    height: fn.vw(140px);
    font-size: fn.fs(50px);
    line-height: fn.vw(140px);
    border-radius: 50%;
    color: #fff;
  }
  > figcaption {
    margin-top: fn.vw(12px);
    font-size: fn.fs(16px);
    color: var(--color-strong);
  }

  // modifiers
  &.emblem-a {
    .emblem-inner {
      background: linear-gradient(105deg, #52487D 1.43%, #14413E 98.05%, #414A59 98.06%);
    }
  }
  &.emblem-b {
    .emblem-inner {
      background: linear-gradient(105deg, #486D7D 1.43%, #14413E 98.05%, #414A59 98.06%);
    }
  }
  &.emblem-c {
    .emblem-inner {
      background: linear-gradient(105deg, #7C487D 1.43%, #14413E 98.05%, #414A59 98.06%);
    }
  }
  &.emblem-d {
    .emblem-inner {
      background: linear-gradient(105deg, #7D7848 1.43%, #14413E 98.05%, #414A59 98.06%);
    }
  }
  &.emblem-e {
    .emblem-inner {
      background: linear-gradient(105deg, #7D4B48 1.43%, #14413E 98.05%, #414A59 98.06%);
    }
  }
}


.shelf {
  padding: fn.vw(80px) fn.vw(160px);
  border-radius: fn.vw(20px);
  margin: 0 fn.vw(16px);
  color: #fff;
  background: var(--color-core);
  position: relative;
  overflow: hidden;

  .shelf-header {
    margin-bottom: fn.vw(48px - 12px);
    > h1 {
      font-size: fn.fs(48px);
    }
  }

  .shelf-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    > li {
      margin: fn.vw(12px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(60px);
    padding-left: fn.vw(60px);

    // .features-container {}
  }
}


.profile {
  background: linear-gradient(105deg, #212732 1.43%, #14413E 53.34%, #414A59 98.06%);
  padding: fn.vw(190px) fn.vw(76px) 0;
  color: #fff;
  position: relative;

  .profile-body {
    display: flex;
    justify-content: space-between;
    margin-top: fn.vw(120px);
  }
  .profile-img {
    flex-grow: 1;
    width: 50%;
    position: relative;
    > img {
      object-fit: cover;
      width: fn.vw(610px);
      height: fn.vw(725px);
      position: absolute;
      left: fn.vw(-76px);
      bottom: fn.vw(-120px);
    }
  }

  .profile-texts {
    flex-grow: 1;
    width: 50%;
    padding: fn.vw(110px) 0;
  }

  .profile-name {
    margin: 0;
    position: relative;
    &::after {
      content:"";
      display: block;
      width: fn.vw(80px);
      border-top: fn.vw(1px) solid #fff;
      margin: fn.vw(40px) 0 fn.vw(43px);
    }
    > span:nth-child(1){
      vertical-align: middle;
      font-size: fn.fs(32px);
    }
    > span:nth-child(2){
      vertical-align: middle;
      font-size: fn.fs(18px);
    }
  }

  .profile-disc {
    > p {
      font-size: fn.vw(24px);
      line-height: 1.5;
      letter-spacing: .25em;
      margin-top: 0;
      margin-bottom: fn.vw(24px);
    }
  }


  @media screen and (max-width: cn.$bp-sm){
    padding-right: fn.vw(60px);
    padding-left: fn.vw(60px);

    .about-disc {
      margin: fn.vw(100px) 0;
      > p {
        font-size: fn.fs(14px);
        margin-bottom: fn.vw(50px);
      }
    }
    .about-container {
      margin-bottom: fn.vw(160px);
    }
  }
}