$site-width-max: 1920px;
$site-width: 1440px;
$site-width-min: 360px;
$z-index-max: 100;

$bp-lg: 1280px;
$bp-sm: 600px;

$color-main: #214a4a;
$color-sub: #289B8F;
$color-core: #212732;
$color-accent: #EE7D2B;
$color-base: #F4F4F4;