@use "sanitize.css";
@use "const";
@use "animation";
@use "mixins" as mixin;
@use "base";

a {
  text-decoration: none;
}

.header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: var(--z-index-max);
  top: 6.4%;
  .header-inner {
    @include mixin.container;
  }
  .header-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  background: #fff;
  display: inline-block;
  padding: 10px 12px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  border-radius: 37px;
  .nav-inner {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .nav-list {
    display: flex;
  }
  .nav-item {
    padding: 0 20px;
    > a {
      text-decoration: none;
      color: #21264a;
      display: inline-block;
      position: relative;
      @include mixin.font-maven(500);
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #21264a;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform ease-out 0.2s;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
  .nav-contact {
    margin-left: 10px;
    line-height: 1;
    font-size: 0;
  }
}

.link {
  @include mixin.font-maven(500);
  display: inline-block;
  padding: 24px 86px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: #289b8f;
  transition: box-shadow ease-out 0.2s, color ease-out 0.2s;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  > span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: darken(#289b8f, 10%);
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease-out 0.2s;
  }

  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    &::after {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }

  &.link-full {
    width: 100%;
  }
  &.link-nav {
    padding: 16px 32px;
    border-radius: 74px;
    font-size: 14px;
  }
  &.link-footer {
    padding: 20px 60px;
    border: 2px solid #fff;
    background: transparent;
    &::after {
      background: #fff;
    }
    &:hover {
      color: #212732;
    }
  }
  &.link-contact {
    background: #EE7D2B;
    padding: 30px 160px;
    &::after {
      background: darken(#EE7D2B, 10%);
    }
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  .hero-inner {
    @include mixin.container(auto);
    margin-top: 16%;
    margin-bottom: 8%;
  }
  .hero-headline {
    color: #214a4a;
    font-size: 24px;
    letter-spacing: 0.1em;
    > span {
      font-size: 52px;
      font-weight: bold;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 2px solid #214a4a;
        position: absolute;
        left: 0;
        bottom: 0.1em;
      }
    }
  }
  .hero-images {
    width: 100%;
    height: 30%;
    max-height: 286px;
  }
  .hero-images-list {
    width: 100%;
    height: 100%;
    // display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 60s linear infinite;
  }
  .hero-images-item {
    height: 100%;
    display: inline-block;
    margin: 0 5px;
    > img {
      height: 100%;
      width: auto;
    }
  }
}

.headline {
  color: #fff;
  text-align: center;
  line-height: 1;
  
  > span:nth-child(1) {
    display: block;
    font-size: 12rem;
    margin-bottom: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    @include mixin.font-maven(600);
  }
  > span:nth-child(2) {
    font-size: 1.8rem;
  }
  &.headline-left {
    text-align-last: left;
  }
  &.headline-primary {
    color: #214A4A;
  }
}

.about {
  // padding: 192px 0;
  padding: 10rem;
  
  border-radius: 20px;
  margin: 0 16px;
  color: #fff;
  background: #212732;
  position: relative;
  overflow: hidden;
  .about-container {
    // @include mixin.container;
    margin-bottom: 5rem;
  }
  .about-disc {
    margin-bottom: 5rem;
    > p {
      font-size: 2.4rem;
      line-height: 1.6;
    }
  }
  .about-bottom {
    color: #313948;
    font-size: 124px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
  }
}

.point {
  padding: 192px 0;
  color: #fff;
  .point-container {
    @include mixin.container;
  }
  .point-list {
    display: flex;
    width: 100%;
    margin: 90px -8px 0;
    > li {
      display: flex;
      flex-direction: column;
      width: 33.3%;
      padding: 0 8px;
    }
  }
}


.course {
  padding: 192px 0;
  color: #fff;
  background: #212732;
  .course-container {
    @include mixin.container;
  }
  .course-list {
    display: flex;
    width: 100%;
    margin: 90px -5px 0;
    > li {
      width: 50%;
      padding: 0 5px;
    }
  }
}

.card {
  color: #214A4A;
  background: #fff;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  height: 100%;

  .card-headline {
    font-weight: bold;
    font-size: 24px;
  }
  > img {
    width: 100%;
    height: auto;
  }
  .card-disc {
    text-align: left;
  }
}

.panel {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 90px 20px 45px;
  transition: background-color ease-out 0.2s, border-color ease-out 0.2s;
  .panel-headline {
    @include mixin.font-maven(500);
    font-size: 48px;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
    padding-right: 50px;
    transition: padding ease-out 0.2s;
    > span {
      margin-top: 3px;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(#289B8F, .2);
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 0px solid #fff;
      transition: transform ease-out 0.2s, background-color ease-out 0.2s;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #289B8F;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: all ease-out 0.2s;
      }
    }
  }
  .panel-disc {
    font-size: 14px;
  }

  &:hover {
    border-color: #289B8F;
    background: #289B8F;
    .panel-headline {
      padding-right: 70px;
      > span {
        background-color: rgba(#fff, .2);
        transform: translateY(-50%) scale(1.2);
        &::after {
          background-color: #fff;
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}


.showcase {
  padding: 240px 0 170px;
  overflow: hidden;
  .showcase-container {
    @include mixin.container;
  }
  .showcase-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > h1 {
      font-weight: bold;
      font-size: 48px;
      color: #214A4A;
      letter-spacing: .15em;
    }
  }
  .showcase-contents {
    @include mixin.container;
    white-space: nowrap;
  }
  .showcase-list {
    // display: flex;
    margin: 0 -16px;
    > li {
      display: inline-block;
      // width: 50%;
      margin: 0 16px;
    }
  }
}

.work {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  .work-img {
    border-radius: 10px;
    overflow: hidden;
    > img {
      width: 100%;
      height: auto;
      transition: transform ease-out 0.2s;
    }
  }
  .work-data {
    margin-top: 20px;
    > dt {
      font-size: 24px;
      color: #214A4A;
      margin-bottom: 15px;
      font-weight: bold;
    }
    > dd {}
  }

  &:hover {
    .work-img {
      > img {
        transform: scale(1.2);
      }
    }
  }
}

.footer {
  background: #212732;
  color: #fff;
  padding: 120px 0;
  .footer-top {
    display: flex;
  }
  .footer-top-logo {
    display: block;
    margin-bottom: 45px;
  }
  .footer-top-info {
    margin-right: 120px;
    > address {
      font-style: normal;
      color: #686E79;
    }
  }
  .footer-top-nav {
    margin-right: 120px;
    > a {
      color: #fff;
      display: block;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-top-others {}
  .footer-top-sns {
    margin-bottom: 40px;
    > a {
      color: #fff;
      font-size: 28px;
      margin-right: 25px;
      &:hover {
        opacity: .8;
      }
    }
  }
  .footer-container {
    @include mixin.container;
  }

  .footer-border {
    border-top: 1px solid #fff;
    margin: 42px 0;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom-credit {
    color: #686E79;
    font-size: 14px;
  }
  .footer-bottom-nav {
    display: flex;
    > a {
      color: #fff;
      margin-left: 32px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // modifier
  &.footer-has-contact {
    padding-top: 120px + 150px;
  }
}

.contact {
  @include mixin.container;
  position: relative;
  z-index: 2px;
  .contact-inner {
    text-align: center;
    background: #fff;
    padding: 57px 0;
    border-radius: 8px;
  }
  > h1 {
    color: #214A4A;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 45px;
  }
}


.page-index {
  margin-bottom: -150px;
}