<% 
const head = {
  title: common.title.siid.index,
  disc: common.disc.siid.index,
  theme: "theme-siid"
};

const header = {
  contact: {
    href: "/siid/counseling/",
    text: "お申し込み"
  }
};

const hero = {
  copy: `
    <span class="hero-headline-text">
      <span>一生使えるITスキル</span>を習得しよう。
    </span><br>
    <span class="hero-headline-text">オンライン・プログラミング・ゼミの『SiiD』</span>`,
    images: ["siid/hero-image-1.jpg", "siid/hero-image-2.jpg", "siid/hero-image-3.jpg", "siid/hero-image-4.jpg", "siid/hero-image-5.jpg", "siid/hero-image-6.jpg"]
};

const about = {
  headline: {
    main: "ABOUT", 
    sub: "SiiDとは"
  },
  disc: `<p><strong>なんかめっちゃエモい話をここで書く。</strong>事業への想いとか、現状のプログラミングスクールへの感情とか、今後日本をどうしていきたいとか、教育はどうあるべきかとかとか。強調したい言葉のみウェイト太くするとメリハリ効いて良さそう。</p>
      <p>自身の体験も踏まえてみるといいかも？とにかくそんなアツい感じの文章をここに書く予定、そんな感じである。</p>
      <p>それか全部ウェイト太くして力強さを出すか。それか全部ウェイト太くして力強さを出すか。それか全部ウェイト太くして力強さを出すか。</p>`,
  bottom: "Technology / Education / Web Marketing / IT Consulting / Development / Design / Business"
};

const point = {
  headline: {
    main: "POINT",
    sub: "3つの特徴"
  },
  cards: [
  {
      headline: "ゼミ形式のカリキュラム",
      img: {
        url: "/images/point-1.png",
        width: "286.5",
        height: "205.5"
      },
      disc: "科学的に効果の高い学習方法を用い、プログラミングはもちろんエンジニアの仕事に必要な実践的なスキル・マインドを包括的に学ぶことができます。"
    }, {
      headline: "強力な監修・講師陣",
      img: {
        url: "/images/point-2.png",
        width: "195",
        height: "191"
      },
      disc: "100人規模のWeb開発企業で経営経験があり、テックYouTuberでもある現役エンジニアの堀口セイト氏が皆さんをサポートします。"
    }, {
      headline: "受講者ファースト",
      img: {
        url: "/images/point-3.png",
        width: "285",
        height: "214"
      },
      disc: "受講生様の現在地と目標をヒアリングした上で、お仕事の状況やご家庭の都合など、普段の生活リズムも考慮した上で学習計画をご提案します。"
    }
  ]
};

const course = {
  headline: {
    main: "Course",
    sub: "コース"
  },
  courses: [
    {
      headline: "BASIC",
      disc: "カジュアルに始められる易しめプログラム。<br>まずは始めてみたい、現在のキャリアに活かしたい、という方はこちら。",
      href: "./basic/"
    }, {
      headline: "CAREER",
      disc: "転職支援を含むストイックなプログラム。<br>本気で転職を目指したい、全力でコミットしたい、という方はこちら。",
      href: "./career/"
    }
  ]
};

const contact = {
  headline: "お申し込みはこちら",
  href: "",
  text: "説明会に申し込む"
};
%>

<%- include('../modules/meta/_head.html', head) %>
<%- include('../modules/layout/_header.html', {header: header}) %>

<%- include('../modules/components/_hero.html', {hero: hero}) %>

<main>
  <%- include('../modules/components/_about.html', {about: about}) %>
  <%- include('../modules/components/_point.html', {point: point}) %>
  <%- include('../modules/components/_course.html', {course: course}) %>
  <%- include('../modules/components/_showcase.html') %>
  <%- include('../modules/components/_contact.html', {contact: contact}) %>
</main>

<%- include('../modules/components/_modal.html') %>

<%- include('../modules/layout/_footer.html', {modifier: "footer-has-contact"}) %>

<script type="module" src="/assets/scripts/siid.js"></script>
<%- include('../modules/meta/_foot.html') %>